.grid {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: rgb(3, 167, 30);
  border-radius: 20%;
}

.apple {
  background: url('img/vecteezy_fondo-transparente-de-manzana_15100030.png');
  background-repeat: no-repeat;
  background-size: cover;

}
